@tailwind base;
@tailwind components;
@tailwind utilities;

html, label {
  cursor: url('../../public/default_cursor.png'), default;
}

a, button, input, textarea{ /* Elementos interactivos comunes */
  cursor: url('../../public/pointer_cursor.png'), pointer;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select{
  padding: .5rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
}
[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  border: none;
  outline:none !important;
  --tw-ring-shadow: none !important;
}
